div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
}

body {
  height: 257, 5px;
  width: 520px;
  max-width: 1200px;
  margin-top: 15%;
  margin-left: 30%;
  border: solid black;
}

.input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  background-color: rgb(0, 238, 255);
}

button {
  background-color: bisque;
  grid-column: 4;
  grid-row: 2;
}

input {
  grid-column: 2 / 4;
  grid-row: 2;
}
